# Custom rules
log/
img/
incomplete/
incomplete_rs_3.2/
old_log/
*.out
job*
.env

# Ignore system files
.DS_Store           # macOS
Thumbs.db           # Windows
desktop.ini         # Windows

# Ignore Python cache
__pycache__/
